body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #34495e;
}

body > div {
  width: 1200px;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#firstDiv {
  width: 175px;
  height: 100px;
  background-color: lightpink;
  position: absolute;
  top: 0;
  left: 0;
}

#outerDiv {
  width: 1200px;
  height: 136px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#outerDiv > hr:nth-child(3) {
  position: absolute;
  bottom: 0;
  width: inherit;
}

.largeDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 750px;
  height: 100px;
}

.largeDiv > div {
  width: 175px;
}

#secondDiv {
  background-color: #bb5bc9;
}

#thirdDiv {
  background-color: red;
}

#fourthDiv {
  background-color: green;
}

#fifthDiv {
  background-color: blue;
}

#sixthDiv {
  background-color: yellow;
  width: 175px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}